html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

::selection {
  background: #a7a7a7; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #f5f5f7;
  background-color: #000;
  overflow-x: hidden; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

section {
  padding: 0 8rem;
  margin: 10rem auto 0 auto;
  position: relative;
  max-width: 1920px;
  font-size: 1.8rem; }
  @media only screen and (max-width: 100em) {
    section {
      padding: 0 4rem; } }
  @media only screen and (max-width: 56.25em) {
    section {
      padding: 0 3rem; } }

p:not(:last-child) {
  margin-bottom: 2rem; }

.link {
  color: #f5f5f7;
  text-decoration: none;
  transition: all .3s;
  position: relative; }
  .link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 1.25px solid #fdcd05;
    transform: scaleX(0);
    transition: all .25s ease-in-out; }
    @media only screen and (max-width: 75em) {
      .link::after {
        left: 0; } }
  .link:hover::after {
    transform: scaleX(1); }

.heading {
  text-align: center;
  text-transform: uppercase; }
  .heading--primary {
    font-weight: 100;
    font-size: 7.2rem; }
    @media only screen and (max-width: 87.5em) {
      .heading--primary {
        line-height: 1.2;
        margin-bottom: 2rem; } }
  .heading--secondary {
    font-weight: 300;
    font-size: 2.4rem; }
  .heading--tertiary {
    font-weight: 200;
    font-size: 3.6rem;
    position: relative;
    padding: 2rem; }
    .heading--tertiary::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 10rem;
      text-align: center;
      border-bottom: 1px solid #666;
      padding-bottom: 2rem;
      display: inline-block; }
  .heading--quaternary {
    text-align: left;
    font-weight: 200;
    font-size: 2.4rem; }

.header {
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 2rem;
  background-image: url(/Img/hero-main.jpg);
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  overflow-x: hidden;
  animation: fade-in 1s ease-out; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .header {
      background-image: url(/Img/hero-main@2x.jpg); } }
  @media only screen and (max-width: 75em) {
    .header {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/Img/hero-main-mobile.jpg); } }
  .header__wrapper {
    width: 60%;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    @media only screen and (max-width: 87.5em) {
      .header__wrapper {
        width: 57.5%; } }
    @media only screen and (max-width: 75em) {
      .header__wrapper {
        width: 100%; } }
  .header__text {
    flex: 0 0 75%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade-in-up .75s .3s ease-in-out forwards; }
  .header__heading {
    flex: 1 0 100%;
    align-self: center; }

.nav {
  text-align: right;
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 1s ease-out; }
  .nav__list {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    transition: all .4s ease-in-out; }
    @media only screen and (max-width: 100em) {
      .nav__list {
        flex: 0 0 75%; } }
    @media only screen and (max-width: 87.5em) {
      .nav__list {
        flex: 0 0 90%; } }
    @media only screen and (max-width: 75em) {
      .nav__list {
        z-index: 20;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(62, 62, 62, 0.975);
        position: fixed;
        width: 100%;
        align-self: stretch;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0; } }
  .nav__item {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase; }
    @media only screen and (max-width: 75em) {
      .nav__item {
        text-align: center;
        width: 100%;
        margin: 1.25rem 0;
        font-size: 3.5rem; } }
  .nav__link {
    padding-bottom: 10px; }
  .nav__icon {
    display: none;
    fill: #fff;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #fff;
    z-index: 25;
    cursor: pointer; }
    .nav__icon:active {
      outline: none; }
    .nav__icon:hover {
      fill: rgba(245, 245, 247, 0.75); }
    @media only screen and (max-width: 75em) {
      .nav__icon {
        display: flex;
        flex-direction: column;
        justify-content: center; } }
    .nav__icon--open {
      position: absolute;
      top: 3.3rem;
      right: 4.65rem;
      width: 2.75rem;
      height: 2.75rem; }
      @media only screen and (max-width: 56.25em) {
        .nav__icon--open {
          top: 3.8rem; } }
      .nav__icon--open svg {
        transition: fill .2s; }
    .nav__icon--close {
      position: fixed;
      width: 3.7rem;
      height: 3.7rem;
      right: 4rem;
      top: 3.25rem;
      visibility: hidden; }
      @media only screen and (max-width: 56.25em) {
        .nav__icon--close {
          top: 3.75rem; } }
      .nav__icon--close line {
        stroke: currentColor;
        stroke-width: 5;
        transition: stroke .2s; }
      .nav__icon--close:hover line {
        stroke: rgba(245, 245, 247, 0.75); }

@media only screen and (max-width: 37.5em) {
  .section--story {
    margin-top: 15rem; } }

.story {
  padding: 4rem 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }
  .story__text, .story__roc {
    padding: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .story__text, .story__roc {
        padding: 3rem 0; } }
  .story__text {
    flex: 0 0 45%; }
    @media only screen and (max-width: 87.5em) {
      .story__text {
        flex: 0 0 50%; } }
    @media only screen and (max-width: 56.25em) {
      .story__text {
        flex: 0 0 100%; } }
  .story__roc {
    flex: 0 0 28%;
    text-align: center; }
    @media only screen and (max-width: 87.5em) {
      .story__roc {
        flex: 0 0 37%; } }
    @media only screen and (max-width: 56.25em) {
      .story__roc {
        flex: 0 0 100%; } }
    .story__roc p {
      font-size: 2.4rem;
      padding: 2.5rem 5rem;
      font-weight: 200; }
      @media only screen and (max-width: 56.25em) {
        .story__roc p {
          width: 45%;
          margin-left: auto;
          margin-right: auto; } }
      @media only screen and (max-width: 37.5em) {
        .story__roc p {
          width: 90%; } }
    .story__roc span.zero {
      display: inline-block;
      font-weight: 100;
      font-size: 20rem;
      line-height: .8;
      margin-bottom: 1.5rem; }
    .story__roc span.twenty {
      font-weight: 500; }

.section--services {
  background-image: url(/Img/our-services-bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: 10; }
  @media only screen and (max-width: 56.25em) {
    .section--services {
      padding: 0;
      background-position: top right; } }
  @media only screen and (max-width: 37.5em) {
    .section--services {
      background-image: url(/Img/our-services-bg-mobile.jpg); } }

.services {
  padding: 4rem 4rem 6rem;
  width: 36%;
  margin-left: 10%;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 87.5em) {
    .services {
      width: 43%;
      margin-left: 8%; } }
  @media only screen and (max-width: 75em) {
    .services {
      width: 50%;
      margin-left: 4%; } }
  @media only screen and (max-width: 56.25em) {
    .services {
      width: 100%;
      margin-left: 0;
      padding: 4rem 3rem 8rem; } }
  .services p:first-of-type {
    padding-top: 5rem; }

.section--staff {
  margin-top: 6rem; }

.staff {
  padding: 5rem 0 4rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  @supports (justify-content: space-evenly) {
    .staff {
      justify-content: space-evenly; } }
  @media only screen and (max-width: 56.25em) {
    .staff {
      padding: 5rem 0 4rem; } }
  .staff__employee, .success__message {
    padding: 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%;
    border-radius: 5px;
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.1), 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 1.5rem rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06)); }
    @media only screen and (max-width: 56.25em) {
      .staff__employee:not(:last-child), .success__message:not(:last-child) {
        margin-bottom: 6rem; } }
    @media only screen and (max-width: 100em) {
      .staff__employee, .success__message {
        flex: 0 0 40%; } }
    @media only screen and (max-width: 56.25em) {
      .staff__employee, .success__message {
        flex: 0 0 100%;
        padding: 3.5rem 2rem; } }
  .staff__image {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin-bottom: 2rem;
    border: 1rem solid transparent;
    box-shadow: 0 0 0 1.5px #666; }
  .staff__title {
    position: relative;
    text-align: center;
    padding-bottom: 2rem; }
    .staff__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 7rem;
      text-align: center;
      border-bottom: 1px solid #666;
      padding-bottom: 2rem;
      display: inline-block; }
  .staff__description {
    max-width: 100%; }

.section--contact {
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 60%, transparent 60.1%), url(/Img/contact-us-bg.jpg);
  background-size: cover;
  background-position: right; }
  @media only screen and (max-width: 56.25em) {
    .section--contact {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.825) 0%, rgba(255, 255, 255, 0.825) 100%), url(/Img/contact-us-bg.jpg);
      background-position: right center; } }

.contact {
  width: 50%;
  padding: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      width: 100%;
      padding: 1rem 0; } }
  .contact__heading {
    color: #3e3e3e;
    font-weight: 300;
    margin-bottom: 5.5rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__heading {
        margin-bottom: 3.5rem; } }
  .contact__label {
    color: #3e3e3e;
    font-size: 2rem;
    text-transform: uppercase; }
  .contact__input, .contact__textarea {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 4.5rem;
    padding: 1.5rem 2rem;
    background-color: transparent;
    border: 2px solid #3e3e3e;
    border-radius: 2px;
    width: 100%;
    max-width: 100%;
    transition: all .3s; }
  .contact__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .contact__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .contact__textarea {
    height: 15rem;
    font-family: 'Montserrat', sans-serif; }
    .contact__textarea:focus {
      border: 3px solid #3e3e3e;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .contact__submit {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5rem 6rem;
    margin-bottom: 3rem;
    border-radius: 100px;
    border: 2px solid #3e3e3e;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    -webkit-appearance: none;
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .contact__submit {
        width: 20rem;
        margin: 4rem auto;
        display: block; } }
    .contact__submit:hover, .contact__submit:active {
      border: 2px solid #666;
      background-color: #666;
      color: #f5f5f7;
      outline: none; }
    .contact__submit:focus {
      border-radius: 0; }

.success {
  height: 85vh;
  background-color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem; }
  .success__message {
    animation: fade-in 1s ease-out; }
  .success__link {
    text-transform: uppercase;
    padding-bottom: 1rem; }

.nav-active {
  visibility: visible;
  opacity: 1;
  height: 100vh; }

.light-streak {
  z-index: 5;
  position: absolute;
  animation: fade-in 1s ease-out;
  width: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .light-streak {
      width: 10rem;
      z-index: 0; } }
  @media only screen and (max-width: 37.5em) {
    .light-streak {
      width: 8rem; } }
  .light-streak--1 {
    top: -50rem;
    right: 19rem;
    transform: rotate(-65deg); }
    @media only screen and (max-width: 87.5em) {
      .light-streak--1 {
        top: -40rem; } }
    @media only screen and (max-width: 75em) {
      .light-streak--1 {
        right: 5rem;
        top: -25rem; } }
    @media only screen and (max-width: 56.25em) {
      .light-streak--1 {
        right: 8rem;
        top: -20rem; } }
    @media only screen and (max-width: 37.5em) {
      .light-streak--1 {
        right: 7rem;
        top: -25rem; } }
  .light-streak--2 {
    bottom: -20rem;
    left: -5rem;
    transform: rotate(-65deg); }
    @media only screen and (max-width: 87.5em) {
      .light-streak--2 {
        bottom: -25rem;
        left: -12rem; } }
    @media only screen and (max-width: 56.25em) {
      .light-streak--2 {
        bottom: -15rem;
        left: 12rem; } }
    @media only screen and (max-width: 37.5em) {
      .light-streak--2 {
        bottom: -18rem;
        left: 7rem; } }

.text-center {
  text-align: center !important; }

.fade {
  transition: opacity .75s ease-in-out, transform .75s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out; }

.fadeFromTop {
  opacity: 0;
  transform: translateY(-2rem); }

.fadeFromTopVisible {
  transform: translateY(0);
  opacity: 1; }

.fadeFromLeft {
  opacity: 0;
  transform: translateX(-2rem); }

.fadeFromLeftVisible {
  transform: translateX(0);
  opacity: 1; }

div.fadeDelayShort {
  transition: opacity .75s .4s ease-in, transform .75s .4s ease-in, background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    div.fadeDelayShort {
      transition: opacity .75s ease-in, transform .75s ease-in, background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out; } }

div.fadeDelayLong {
  transition: opacity .75s .6s ease-in, transform .75s .6s ease-in, background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    div.fadeDelayLong {
      transition: opacity .75s ease-in, transform .75s ease-in, background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  padding: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 3rem; } }
  .footer__logo {
    width: 17rem;
    display: block;
    height: auto;
    margin-bottom: 4rem; }
  .footer__text:not(:last-child) {
    margin-bottom: 1rem; }
  .footer__text:last-child {
    color: rgba(245, 245, 247, 0.6);
    font-size: 1.2rem; }
