.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    padding: 4rem;

    @include ieOnly {
        display: none;
    }

    @include respond(tab-port) {
        padding: 3rem;
    }
    
    &__logo {
        width: 17rem;
        display: block;
        height: auto;
        margin-bottom: 4rem;
    }

    &__text {

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &:last-child {
            color: rgba($color-text, .6);
            font-size: 1.2rem;
        }
    }

}